h1{
   
    color: aqua;
    font-size: 50px;
    font-style: italic;
    text-decoration: underline chocolate;
}
h2{
   
    color: blueviolet;
    font-size: 30px;
    font-style: oblique;
    text-decoration: overline red;
    
}
h3{
   
    color:blue;
    font-size: 20px;
    font-style: italic;
    text-decoration: blink green;
    
   
}
h4{
   
    color:green;
    font-size: 15px;
    font-style: initial;
    text-decoration: line-through black;
}
h5{
   
    color:brown;
    font-size: 10px;
    font-style: initial;
    text-decoration: line-through forestgreen;
}
h6{
    
    color: yellow;
    font-size: 5px;
    font-style: italic;
    text-decoration: underline overline olive;
}

p{
    color: blue;
    font-size: 12px;
    font-style: italic;
}

a{
    color: rebeccapurple;
    font-size: 15px;
    font-style: oblique;
}



*{
	margin: 0; 
	padding: 0;
}

html{
	background-color: #777777;
}

body div header label {
    margin-top: 5px;
    padding: 1em;
    
}

body{
	
	width: 96%;
	margin: auto;
	background-color: #FFFFF6;	
}



header{
	height: 144px;
	
}


header img{
	margin-left: 30px;
	float: left;
}

header form{
	margin-right: 30px;
	float: right;
}




nav{

    background-color:lightgreen;
	padding:5px;
	height: 65%;
	border-bottom: 2.5px solid #004C99;
	
    margin-right: 5px;
}




#col1{
	padding: 5px;
	width: 240px;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid yellow;
    -moz-border-radius: 9px;
    -webkit-border-radius:9px;
    background:rosybrown;
	
}



#volver{
	padding: 0.2em;
	width: 180px;
	float: left;
    margin-top: 10px;
    margin-left: 15px;

	
}





#central{
	width: 770px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
#central article h2{
	color: #CC6600;
	font-size: 1.6em;
	line-height: 1.2 em;
	margin-bottom: 0.3em;	
}
#central article a{
	color: #CC6600;
}
#central article p{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
#central article img{
	margin-right: 1em;
	float: left;
}


.central2{
	width: 770px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.central2 article h2{
	color: #CC6600;
	font-size: 1.6em;
	line-height: 1.2 em;
	margin-bottom: 0.3em;	
}
.central2 article a{
	color: #CC6600;
}
.central2 article p{
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
.central2 article img{
	margin-right: 1em;
	float: left;
}







#publicidad{
	width: 240px;
	background-color: #FFF6CD;
    margin-top: 720px;
    margin-left: 18px;
	border: 1px dashed #CC6600;
	clear: left;
	float: left;
	margin-bottom: 10px;
	
}
#publicidad h3 a{
	color: #CC6600;
	
}
	
#publicidad h3 {
	color: #555;
}




footer{
	clear: both;
	width: 1300px;
	border-top: 2px solid #C5C5C5;
	border-bottom: 2px solid #C5C5C5;
	background-color: #F8F8F8;
	
}
footer a{
	color: #0099FF;
	margin-right: 1em;
	font-size: 1.2em;
}

footer p{
    text-align: center;
	font-style: italic;
}





table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
 }
 caption, td, th {
    padding: 0.3em;
 }
 th, td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left:1px #000;
    border-top:1px #000;
 }
 th.last, td.last {
    border-right: 0;
 }
 tfoot th, tfoot td {
    border-bottom: 0;
    text-align: center;
 }
 th {
    width: 25%;
 }